<div class="dashboard-container">
    <!-- Property Units -->
    <div class="dashboard-properties-container">
        <!-- Property Header -->
        <div class="properties-header-container">
            <h2>Property Units</h2>
            <div class="properties-header-buttons">
                <button>Add Unit</button>
                <button>Filter</button>
            </div>
        </div>
        <div class="dashboard-properties-header-divider">
            
        </div>

        <!-- Property Cards -->
        <div class="dashboard-properties-list">
            <app-property-card></app-property-card>
            <app-property-card></app-property-card>
            <app-property-card></app-property-card>
            <app-property-card></app-property-card>
        </div>
    </div>

    <div>
        <!-- Occupancy Rate -->
        <div class="occupancy-rate-container">

        </div>
        <!-- Lease Expirations -->
        <div class="lease-expiration-container">

        </div>
    </div>
</div>