@use "layout";
@use "card";

.dashboard-container {
    display: flex;
    flex-direction: column;
    @include layout.section-margin;
}

.dashboard-properties-container {
    @include card.card-boxshadow-style
}

.properties-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.properties-header-buttons {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.icon {
    height: 1rem;
    width: 1rem;
}

.dashboard-properties-header-divider {
    height: 1px;
    border-bottom: 1px solid lightgray;
}

.dashboard-properties-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}