

.navbar-container {
    background-color: white;
    padding: 1rem;
    box-shadow:hsl(from black 10 10 10);
}

.navbar-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 1rem;
}