$background-color-primary: rgb(25, 60, 184);
$background-color-secondary: rgb(249 250 251);

$text-color-sidebar-subtitle: rgb(191 219 254);

$primary-button-color: rgb(37 99 235);
$primary-button-color-hover: rgb(29 78 216);

$gray-filled-btn-color: rgb(229 231 235);
$gray-filled-btn-color-hover: rgb(209 213 219);