<!-- Container -->
<div class="property-card-container">
    <!-- Top Section -->
    <div class="property-card-top-section">
        <p class="header">Unit 1A</p>
        <span class="chip-occupied">Occupied</span>
    </div>
    <!-- Bottom Section -->
    <div class="property-card-bottom-section">
        <!-- Tenant -->
        <div class="property-card-label-item">
            <p class="label">Tenant: </p>
            <p class="value">Jaja Ang</p>
        </div>
        <!-- Lease Period -->
        <div class="property-card-label-item">
            <p class="label">Lease Period: </p>
            <p class="value">Jan 2023 - Dec 2023</p>
        </div>
        <!-- Monthly Rent -->
        <div class="property-card-label-item">
            <p class="label">Monthly Rent: </p>
            <p class="value">$775.00</p>
        </div>
    </div>
    <!-- View/Edit -->
    <div class="property-card-controls">
        <button class="text-btn">View</button>
        <button class="text-btn">Edit</button>
    </div>
</div>