/* You can add global styles to this file, and also use other style files */
@use './normalize.scss';
@use "buttons";
@use "colors";

body {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 1.125rem;
    font-weight: 400;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}